In [2]:
import pandas as pd

In [119]:

df = pd.DataFrame()
duplicates = ['Rk','Pos','Age','Tm','G','MP']
    
for year in ['2013','2014','2015']:
    stat = pd.read_csv("data/{}stats.csv".format(year))
    advanced = pd.read_csv("data/{}advancedstats.csv".format(year))
    advanced = advanced.drop(columns = duplicates)
    stat = stat.merge(advanced, on = 'Player')
    stat['Year'] = int(year)
    stat = stat.drop_duplicates(subset = 'Player', keep = 'first')
    df = df.append(stat)

df['UID'] = df['Player'].apply(lambda name : name.split('\\')[1])
df['Player'] = df['Player'].apply(lambda name : name.split('\\')[0])
df = df.drop(columns = 'Rk')
   
df = df.dropna(axis = 1)

cd = pd.read_csv('data/NBA_Salary_History - HistoryFormatted.csv')
cd = cd.drop(columns = ['BelowMin', 'Unnamed: 5', 'Team'])
cd = cd.rename(columns = {'YearEnd':'Year', ' Salary ':'Salary'})


cd['Salary'] = cd['Salary'].apply(lambda x : x.replace(',',''))

cd.head()


df = df.merge(cd, how = 'inner', on=['Year','Player'])

capD = pd.read_csv('data/capdata.csv')
capD = capD.set_index('Year')

df['Cap%'] = df.T.apply(lambda row : int(row['Salary']) / capD.loc[row['Year']]['Salary Cap'])

df.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,3P,...,DWS,WS,OBPM,DBPM,BPM,VORP,Year,UID,Salary,Cap%
0,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,0.0,...,0.4,1.1,-1.0,1.0,0.1,0.2,2013,acyqu01,665000,0.011333
1,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,0.0,...,0.4,1.0,-2.1,-0.9,-3.0,-0.2,2013,adrieje01,804131,0.013704
2,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,1.1,...,0.5,2.0,-1.1,-1.8,-2.9,-0.5,2013,afflaar01,7750000,0.132075
3,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,0.0,...,0.4,0.6,-3.5,0.6,-2.9,-0.1,2013,aldrico01,2445480,0.041676
4,LaMarcus Aldridge,PF,27,POR,74,74,37.7,8.6,17.8,0.0,...,2.3,7.2,1.7,-0.4,1.3,2.3,2013,aldrila01,13500000,0.230065

In [117]:
df.to_csv('data/data.csv')